[Unit]
Description=coast poll service
After=network.target

[Service]
Type=simple
User=ec2-user
ExecStart=/home/ec2-user/.nvm/versions/node/v16.20.2/bin/node /home/ec2-user/coast-server/fetchData.js


[Install]
WantedBy=multi-user.target